:root {
    --color-redHexa: #ff0000;
    --color-greenHexa: #00ff00;
    --color-blueHexa: #0000ff;
    --color-cinzaHexa: #CCCCCC;
    --color-brancaHexa: #fff;
    --color-red: rgb(255, 0, 0);
    --color-green: rgb(0, 255, 0);
    --color-blue: rgb(0, 0, 255);
    --color-roxa: rgb(125, 77, 229);
    --color-branca: rgb(255, 255, 255);
}

title {
    font-size: medium;
}

body {
    background-color: var(--color-branca);
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: auto;
}

header {
    font-size: larger-x;
}

li,
br,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: larger-x;
    text-align: center;
    color: var(--color-roxa)
}


p {
    font-size: medium;
    text-align: center;
}


em {
    font-size: large;
}

ul {
    display: inline-block;
    align-items: center;
    vertical-align: center;
    width: 100%;
}

.itens {
    font-style: italic;
    color: var(--color-roxa);
}

div {
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#divBanner {
    background-color: var(--color-branca);
    text-align: center;
    margin-left: 10px;
    width: 30%;
    font-size: 10px;
}

#divTexto {
    size: 70%;
    font-size: 16px;
}

#divLista {
    font-size: 18px;
}