title {
    font-size: medium;
}

body {
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: larger-x;
    text-align: center;
}

p {
    font-size: medium;
    text-align: center;
}

em {
    font-size: large;
}